<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
</head>
<body>
    <section>
        <!-- <h1>This is normal page</h1> -->

        <div class="card m-4 p-3 mr-5 ml-5">

            <div th:if="${session.message2}" class="alert alert-primary text-center" th:classappend="${'alert-'+session.message2.type}" >
              <p th:text="${session.message2.content}"></p>
            </div>
  
              <div class="card-body">
                  <h1 class="text-center">Update Contact</h1>
                  <div class="container-fluid mt-1">
                      <div class="col-md-10 offset-md-1">
                          <form action="#" 
                              th:object="${contact}" 
                              th:action="@{/user/process-update}" 
                              enctype="multipart/form-data" 
                              class="mt-2" 
                              method="post">

                              <!-- hidden file -->
                              <input type="hidden" th:value="${contact.cId}">
                              
                              <!-- image field -->

                              <div class="container text-center">
                                <img style="height: 200px;" th:src="@{'/image/'+${contact.image}}" alt="">
                              </div>

                              <div class="form-group custom-file mt-3">
                                <label for="profileImage" class="text-secondary">Update picture of this contact:</label><br>
                                <input type="file" id="profileImage" name="profileImage" class="form-control-file">
                              </div>
  
                              <!-- first name -->
                              <div class="input-group mb-3 mt-3">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="fa fa-plus"></i>
                                    </div>
                                  </div>
                                  <input 
                                  type="text" 
                                  name="name" 
                                  class="form-control" 
                                  id="inlineFormInputGroupUsername" 
                                  placeholder="Username"
                                  th:value="${contact.name}"
                                  th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}">
                                  <br>
                                  <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
  
                                  </div>
  
                              </div>
  
                              <!-- second name -->
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="fa fa-plus"></i>
                                    </div>
                                  </div>
                                  <input 
                                  type="text" 
                                  required
                                  class="form-control" 
                                  id="secondName" 
                                  placeholder="Second name" 
                                  name="secondName"
                                  th:value="${contact.secondName}"
                                  >
                                  <br>
                                  <!-- <div class="invalid-feedback" th:each="e : ${#fields.errors('secondName')}" th:text="${e}"></div> -->
  
                                  </div>
  
                              </div>
  
                              <!-- email -->
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="fa-solid fa-envelope"></i>
                                    </div>
                                  </div>
                                  <input 
                                  required
                                  type="text" 
                                  class="form-control" 
                                  id="email" 
                                  placeholder="Email Address" 
                                  name="email"
                                  th:value="${contact.email}"
                                  >
  
                              </div>
  
                              <!-- phone -->
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="fa-solid fa-phone"></i>
                                    </div>
                                  </div>
                                  <input required th:value="${contact.phone}" min="10" type="number" class="form-control" id="phone" placeholder="Phone no." name="phone">
                              </div>
  
                              <!-- work field -->
                              <div class="input-group mb-3 ">
                                  <div class="input-group-prepend">
                                    <div class="input-group-text">
                                      <i class="fa-solid fa-briefcase"></i>
                                    </div>
                                  </div>
                                  <input required type="text" th:value="${contact.work}" class="form-control" id="work" placeholder="Enter work" name="work">
                              </div>
  
                              <!-- description -->
                              <div class="form-group mt-3">
                                  <textarea th:text="${contact.description}" name="description" id="description" class="form-control" rows="10" placeholder="Enter contact description"></textarea>
                              </div>
  
  
                              <div class="container text-center mt-5">
                                  <button type="submit" class="btn btn-primary btn-block">Save Contact</button>
                                  <button type="reset" class="btn btn-warning btn-block">Reset</button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          
        <!-- Place the first <script> tag in your HTML's <head> -->
<!-- <script src="https://cdn.tiny.cloud/1/u9c2zsc7l79olikmhyfchyc6zclxutdmdqij5rc2lw4n83ey/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script> -->

<!-- Place the following <script> and <textarea> tags your HTML's <body> -->
<!-- <script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script> -->
    </section>
</body>
</html>