<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <section class="banner d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 class="font-weight-bold">Smart Contact Manager</h1>
            <p>Start collecting your contacts in a very smarter way. We provide very efficient and smarter way of handling contacts</p>
            <a th:href="@{/signin}" class="btn btn-primary bg-primary ">Let's start !!</a>
        </div>
    </section>
</body>
</html>